.list-item {
    border: 2px solid white;
    margin: 2%;
    padding: 10px;
    display: block;
}

.list-item:hover, .list-item:focus {
    background-image: linear-gradient(to top right, rgb(111, 198, 255), pink);
    color: black;
}

#play-listed {
    display: block;
    font-size: x-large;
}

#existing-display {
    text-align: center;
    margin: 1% 10%;
}

@media only screen and (min-width:800px) {
    #play-listed {
        text-align: center;
        margin: 1% 10%;
    }
    .list-item>h2 {
        margin-top: 0px;
    }
}