.navLink {
    border: 1px solid;
    border-right: none;
    margin: 0px;
    padding: 20px 60px;
}

.navLink:hover, a:focus>article {
    background-image: linear-gradient(to top right, rgb(111, 198, 255), pink);
    color: black;
}

#navBar {
    height: inherit;
    border: 2px solid white;
    background: radial-gradient(black, rgb(63, 63, 63));
}

#inverted {
    filter: invert(50%);
}

#recent {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}

#nav {
    position: absolute;
    z-index: 1;
    background-color: radial-gradient(black, rgb(44, 44, 44));
    margin-top: 9%;
    height: inherit;
}

@media only screen and (min-width:850px) {
    #nav {
        position: inherit;
        z-index: 0;
        margin-top: 0%;
        border: 1px solid white;
    }
}